*~
*.o
*.a
*.deps
*.exe
*.core
*.bin
*.elf
*.mot
*.hex
x86/pcat_diskimage/disk.img
TAGS
tools/work
tools/arm-elf/
tools/bin/
tools/h8300-elf/
tools/i386-elf/
tools/rx-elf/
tools/sh-elf/
tools/include/
tools/info/
tools/lib/
tools/libexec/
tools/man/
tools/share/
